@charset "UTF-8";
/* -------------------
	BREADCRUMB
--------------------*/
.breadcrumb {
  margin: 30px 0;
  text-align: right;
  @include mq() {
    // white-space: nowrap;
    // overflow-x: auto;
  }
  &-wrapper {
    padding-top: 15px;
    @include mq() {
      padding: 0 0 5px 0; 
    }
  }
  ul {
    li {
      display: inline-block;
      font-size: fs(12);
      position: relative;
      padding-right: 70px;
      color: #000;
      a {
        display: inline-block;
        color: #000;
        transition: all .3s;
        &:hover {
          text-decoration: none;
        }
      }
      &:last-child {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      &:after {
        display: inline-block;
        position: absolute;
        top: 4px;
        right: 10px;
        width: 46px;
        height: 10px;
        background: url(../images/end/icon-breadcrumb.png) top center no-repeat;
        background-size: 100%;
        content: "";
      }
      @include mq() {
        margin-bottom: 8px;
      }
      a {
        transition: all .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}