@charset "UTF-8";

/* -------------------
  PAGE TOP
--------------------*/
.backtop {
  display: none;
	position: fixed;
  bottom: 20px;
  right: 3.75vw;
  width: 8.5vw;
  height: 8.5vw;
  cursor: pointer;  
  transition: all 0.3s;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation: arrow-move06 2s 1s ease-in-out infinite;
  animation: arrow-move06 2s 1s ease-in-out infinite;
  z-index: 100;
  @include mq() {
    width: 100px;
    height: 100px;
    right: 7px;
  }

  &.fixed {
	  display: flex;
    position: absolute;
	  top: -4.25vw;
	  right: 3.75vw;
    @include mq() {
      right: 7px;
      top: -50px;
    }
  }
  &-inner {
  	display: flex;
  	justify-content: center;
	  align-items: center;
  	width: 100%;
  	height: 100%;
  	background: url(../images/common/icon-backtop.svg) no-repeat;
	  background-size: 100%;
  }
  span {
    display: block;
    padding-top: .875vw;
    font-size: .875vw;
    font-family: $font-a;
    white-space: nowrap;
    background: url(../images/common/icon-arrow-top.svg) top center / .625vw .8125vw no-repeat;
    -webkit-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    @include mq() {
      padding-top: 15px;
      font-size: fs(10);
      background-size: 10px 14px;
    }
  }
}

@-webkit-keyframes arrow-move06 {
  0% {
    transform: translateY(1%);
    -webkit-transform: translateY(1%);
    // opacity: 0.1;
  }

  70% {
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    // opacity: 1;
  }

  100% {
    transform: translateY(1%);
    -webkit-transform: translateY(1%);
    // opacity: 0.3;
  }
}

@keyframes arrow-move06 {
  0% {
    transform: translateY(1%);
    -webkit-transform: translateY(1%);
    // opacity: 0.1;
  }

  70% {
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    // opacity: 1;
  }

  100% {
    transform: translateY(1%);
    -webkit-transform: translateY(1%);
    // opacity: 0.3;
  }
}