.table {
  table {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background: #fff;
    font-size: fs(14);

    thead {
      background: #FAE9CC;
      font-weight: 700;
      // padding: 20px 15px;
    }

    thead tr,
    tbody tr {
      display: flex;
    }

    tbody tr+tr {
      border-top: 1px solid #000;
    }

    thead th {
      border-bottom: 1px solid #000;
      text-align: left;
    }

    thead tr th,
    tbody tr td {
      border-right: solid 1px #000;

      &:last-child {
        border-right: 0;
      }
    }

    thead tr th,
    tbody tr td {
      // display: flex;
      // flex: 1;
      padding: 20px 15px;
    }

    tbody tr td {
      flex-wrap: wrap;

      a {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    table {
      border: 0;

      thead {
        display: none;
      }

      tbody tr {
        flex-direction: column;
        border: 1px solid #000;
        margin-bottom: 1rem;
      }

      thead tr th,
      tbody tr td {
        border-right: none;
      }

      tbody tr td {
        // flex-direction: column;
        // align-items: center;
        display: block;
      }

      tbody tr td+td {
        border-top: 1px solid #000;
      }

      tbody tr td:before {
        display: inline-block;
        // margin: -.5em .6em .75em -.5em;
        margin-right: .6rem;
        margin-bottom: .5rem;
        padding: .5em;
        content: attr(data-label);
        background: #FAE9CC;
      }
    }
  }


  &.custom-width01 {
    @media screen and (min-width: 1051px) {
      table {
        thead {
          tr {
            th {
              &:nth-child(1) {
                width:35%;
              }

              &:nth-child(2) {
                width: 8%;
              }

              &:nth-child(3) {
                width: 25%;
              }

              &:nth-child(4) {
                width: 32%;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              &:nth-child(1) {
                width:35%;
              }

              &:nth-child(2) {
                width: 8%;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              &:nth-child(3) {
                width: 25%;
              }

              &:nth-child(4) {
                width: 32%;
              }
            }
          }
        }
      }

    }
  }

  &.custom-width02 {
    @media screen and (min-width: 1051px) {
      table {
        thead {
          tr {
            th {
              &:nth-child(1) {
                width:22%;
              }

              &:nth-child(2) {
                width: 8%;
              }

              &:nth-child(3) {
                width: 18%;
              }

              &:nth-child(4) {
                width: 12%;
              }
              &:nth-child(5) {
                width: 25%;
              }
              &:nth-child(6) {
                width: 15%;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              &:nth-child(1) {
                width:22%;
              }

              &:nth-child(2) {
                width: 8%;
              }

              &:nth-child(3) {
                width: 18%;
              }

              &:nth-child(4) {
                width: 12%;
              }
              &:nth-child(5) {
                width: 25%;
              }
              &:nth-child(6) {
                width: 15%;
              }
            }
          }
        }
      }

    }
  }

}