@charset "UTF-8";
// ===========================
// TABLE
// ===========================

.table {
  width: 100%;
  font-size: fs(14);
  @include mq(sm2) {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    background-color: #FAE9CC;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 185px;
    text-align: left;
    &.type2 {
      width: auto;
    }
  }

  td {
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #fff;
    &.align-center {
      vertical-align: middle;
    }
	}

  &.type2 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }
  
}