@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(30);
    line-height: fs(48);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h3 {
  	position: relative;
    padding-left: 16px;
    font-size: fs(24);
    line-height: fs(32);
    font-family: $font-a;
    @include mq(sm2) {
      padding-left: 22px;
      font-size: 24px;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      display: block;
      width: 8px;
      height: 8px;
      background: #fff;
      border: solid 1px #000;
      content: "";
      @include mq(sm2) {
        width: 10px;
        height: 10px;
      }
    }
  }
  h4 {
  	position: relative;
    font-size: fs(18);
    line-height: fs(27);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(16);
      line-height: fs(24);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  p {
  	position: relative;
    font-size: fs(14);
    line-height: fs(28);
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  a {
    padding-bottom: 0 !important;
    font-size: fs(14);
    line-height: 1.8;
    color: #FF9090;
    text-decoration: underline;
    transition: all .3s;
    &:after {
      display: none !important;
    }
    &:hover {
      text-decoration: none;
    }
    @include mq() {
      font-size: fs(12);
    }
  }
  ul {
    padding: 30px;
    border: solid 1px #000;
    li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 10px;
      list-style: none;
      font-size: fs(14);
      line-height: fs(22);
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: block;
        width: 5px;
        height: 5px;
        border: solid 1px #000;
        content: "";
      }
    }
  }
}

/* -------------------
  Title by level
--------------------*/
.jp {
  font-family: $font-base;
}

//new
.title-box {
  display: inline-block;
  font-size: 2vw;
  font-weight: bold;
  padding: .94vw 1.25vw;
  background-color: #fff;
  border: solid 1px #000000;
  @include mq() {
    font-size: 20px;
    padding: 10px 18px;
  }
  &.type2 {
    border: none;
  }
  &Wrap {
    display: inline-block;
    position: relative;
  }
}

.title-quad {
  position: relative;
  padding-left: 2.25vw;
  font-size: 2.5vw;
  line-height: 1.2;
  font-family: $font-a;
  @include mq(sm2) {
    padding-left: 22px;
    font-size: 24px;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    width: 1vw;
    height: 1vw;
    background: #fff;
    border: solid 1px #000;
    content: "";
    @include mq(sm2) {
      width: 10px;
      height: 10px;
    }
  }

  &.type2 {
    font-weight: bold;
    &:before {
      top: 0;
    }
  }

  &.type3 {
    padding-left: 16px;
    font-size: fs(24);
    &:before {
      width: 8px;
      height: 8px;
    }
  }

  &.function {
    padding-left: 16px;
    font-size: fs(24);
    margin-bottom: 40px;
    font-family: $font-base;
    @include mq(sm2) {
      font-size: fs(18);
      margin-bottom: 20px;
    }
    &:before {
      width: 8px;
      height: 8px;
    }
  }
}

.title-bold {
  font-size: fs(16);
  font-weight: bold;
  line-height: 1.8;
}

// old
.title-lv2 {
  position: relative;
  display: inline-block;
  padding: 5px 18px;
  font-size: fs(32);
  line-height: fs(51);
  font-weight: bold;
  font-family: $font-base;
  border: solid 2px #000;
  background-color: #fff;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }


}
.title-lv2-2 {
  position: relative;
  font-size: fs(32);
  line-height: fs(51);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv3 {
  position: relative;
  padding-left: 16px;
  padding-top: 5px;
  font-size: fs(24);
  line-height: fs(32);
  font-weight: bold;
  font-family: $font-base;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background-color: #fff;
    content: "";
  }
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}


.title-lv3-2 {
	position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(18);
  line-height: fs(32);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Description
--------------------*/
.desc {
  font-size: 1vw;
  line-height: 2;
  font-weight: bold;
  @include mq() {
    font-size: fs(12);
  }
}

.desc2 {
	font-size: fs(14);
  line-height: 1.8;
  @include mq() {
    font-size: fs(12);
  }
}

.desc3 {
  font-size: fs(14);
  line-height: 1.8;
  @include mq() {
    font-size: fs(12);
  }
}

.desc4 {
  font-size: fs(15);
  line-height: 1.8;
  font-weight: bold;
  @include mq() {
    font-size: fs(13);
  }
}

/* -------------------
  Section Title
--------------------*/
.section-title {
	display: inline-block;
  position: relative;
  font-size: fs(38);
  line-height: fs(57);
  font-family: $font-a;
  @include mq() {
	  font-size: fs(30);
	  line-height: fs(45);
  }
}

.section-title-ep {
	margin-bottom: 3.1vw;
  font-family: $font-a;
  font-size: 4.2vw;
  line-height: 1.2;
  @include mq() {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .jp {
    font-size: 3.3vw;
    font-weight: bold;
    @include mq() {
      font-size: 20px;
    }
  }
}

/* -------------------
  Date, time
--------------------*/
.date {
  font-family: $font-a;
  font-size: .875vw;
  line-height: 1.7;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.date2 {
  font-family: $font-a;
  font-size: fs(14);
  line-height: fs(22);
  letter-spacing: 1.4px;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Txt stroke
--------------------*/
.stroke-white {
  font-family: $font-a;
  color: #fff;
  text-shadow: 1px 1px 0 #fff;
  -webkit-text-stroke: 1px #000;
}

.stroke-pink {
  font-family: $font-a;
  color: #F5B6C4;
  text-shadow: 2px 2px 0 #F5B6C4;
  -webkit-text-stroke: 1px #000;
}

.stroke-blue {
  font-family: $font-a;
  color: #6D9CE8;
  text-shadow: 1px 1px 0 #6D9CE8;
  -webkit-text-stroke: 1px #000;
}

/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 4px 6px;
  background-color: #EDEBDE;
  color: #7B7B6C;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }

  &.type2 {
    padding: 2px 8px 1px;
    background-color: #7B7B6C;
    color: #fff;
  }
}

.label {
  // margin-right: 10px;
  padding: .375vw 1.5vw;
  font-size: .875vw;
  line-height: 1.2;
  border: solid 1px #000;
  background-color: #F5B6C4;
  word-break: keep-all;
  transition: all .3s;
  @include mq() {
    padding: 1px 3px;
  }
  @include mq(sm2) {
    padding: 3px 10px;
    font-size: 14px;
  }
  &.type2 {
    &:hover {
      background-color: #F5B6C4;
    }
  }
  &:hover {
    background-color: #FFFF5C;
  }
  &:last-child {
    margin-right: 0;
  }
}

.label2 {
  // margin-right: 10px;
  padding: 3px 15px;
  font-size: fs(14);
  line-height: 1.2;
  border: solid 1px #000;
  background-color: #F5B6C4;
  word-break: keep-all;
  transition: all .3s;
  @include mq() {
    padding: 1px 3px;
  }
  @include mq(sm2) {
    padding: 3px 10px;
  }
  &.type2 {
    &:hover {
      background-color: #F5B6C4;
    }
  }
  &:hover {
    background-color: #FFFF5C;
  }
  &:last-child {
    margin-right: 0;
  }
}


/* -------------------
  Link, Button, Tab
--------------------*/
// new

.link-pink {
  display: inline-block;
  position: relative;
  font-size: 2vw;
  line-height: 1.8;
  font-weight: bold;
  color: #FF9090;
  cursor: pointer;
  @include mq() {
    font-size: 20px;
  }
  span {
    position: relative;
    padding-left: 2.5vw;
    background: url(../images/common/icon-arrowbig-pink.svg) left center / 1.56vw 2vw no-repeat;
    z-index: 1;
    @include mq() {
      padding-left: 26px;
      background-size: 15px 20px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1vw;
    bottom: .5vw;
    left: 0;
    background: #FFFF5C;
    transition: 600ms cubic-bezier(.8,0,.2,1);
    z-index: 0;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.link-pink2 {
  font-size: fs(14);
  line-height: 1.8;
  color: #FF9090;
  text-decoration: underline;
  transition: all .3s;
  &:hover {
    text-decoration: none;
  }
  @include mq() {
    font-size: fs(12);
  }
}

.link-anchor {
  position: relative;
  display: block;
  font-size: fs(16);
  line-height: 1.8;
  font-weight: bold;
  padding: 0 32px 15px 16px;
  &:hover {
    &:before {
      background-color: #FFFF5C;
    }
    &:after {
      background-image: url(../images/common/icon-arrow-down-yellow.svg);
    }
  }
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 6px;
    border: solid 1px #000;
    background-color: #fff;
    transition: all .3s;
    content: "";
  }
  &:after {
    position: absolute;
    right: 16px;
    top: 10px;
    display: block;
    width: 12px;
    height: 16px;
    background: url(../images/common/icon-arrow-down.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.link-border {
  position: relative;
  display: inline-block;
  font-size: fs(16);
  line-height: fs(26);
  font-weight: bold;
  font-family: $font-base;
  z-index: 1;
  transition: all .3s;
  &:hover {
    opacity: .7;
    span {
      background-position: left 30px center;
    }
  }
  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 18px 10px 50px;
    border: solid 1px #000;
    background: #fff url(../images/common/icon-arrow-right-black.svg) left 25px center no-repeat;
    z-index: 1;
    transition: all .3s;
    content: "";
  }
  &:after {
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    content: "";
  }
  @include mq() {
    font-size: fs(14);
    line-height: fs(22);
  }
}


// old
.link {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #FF9090;
    &:hover{
      text-decoration: none;
    }
  }
}

.link-icon {
  display: inline-block;
  position: relative;
  padding-right: 14px;
  font-size: fs(14);
  line-height: 1;
  color: #FF9090;
  transition: all .3s;
  &:hover{
    &:after {
      display: none;
    }
  }
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #FF9090;
    transition: all .3s;
    content: "";
  }
  &.arrow {
    background: url(../images/common/icon-arrow-right.svg) right center / 12px 12px  no-repeat;
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 12px 12px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.viewmore {
  position: relative;
  display: inline-block;
  padding: 0 0 8px 0;
  font-size: .875vw;
  line-height: 1.2;
  transition: all .3s;
  @include mq() {
    font-size: fs(14);
  }
  
  &:hover{
    &:after {
      width: 20%;
    }
  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: .3s;
    content: "";
  }
}

.viewmore2 {
  position: relative;
  display: inline-block;
  padding: 0 0 8px 0;
  font-size: 14px;
  line-height: 1.2;
  transition: all .3s;
  
  &:hover{
    &:after {
      width: 20%;
    }
  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: .3s;
    content: "";
  }
}

.btn-view-more {
  display: inline-block;
  height: 38px;
  padding: 12px 38px 12px 16px;
  font-size: fs(14);
  line-height: 1;
  border: 1px solid #000;
  transition: all .3s;
  background: #fff url(../images/common/icon-arrow-right-black.svg) right 16px center / 10px 10px no-repeat;

  &:hover {
    color: #fff;
    background-color: #000;
    background-image: url(../images/common/icon-arrow-right-white.svg);
  }
}

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }