@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/

// =========================================
// Font family
// =========================================

@font-face{
  font-family: BebasNeuePro;
  src: url('../fonts/BebasNeuePro-Regular.eot'); // IE9 Compat Modes
  src: url('../fonts/BebasNeuePro-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../fonts/BebasNeuePro-Regular.woff2') format('woff2'),  //Super Modern Browsers 
       url('../fonts/BebasNeuePro-Regular.woff') format('woff'), // Pretty Modern Browsers
       url('../fonts/BebasNeuePro-Regular.ttf')  format('truetype'), // Safari, Android, iOS
       url('../fonts/BebasNeuePro-Regular.svg#svgFontName') format('svg'); // Legacy iOS
}

// Color
// $color-base: #000;
// $color-a: #ffeb1b;

// Font Family
$font-base: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
// $font-base: "Noto Sans JP", sans-serif;
$font-a: BebasNeuePro;
// $font-a: 'Bebas Neue', cursive;
$font-b: Arial, "Helvetica Neue", Helvetica, sans-serif;
