// Slide button control
.slick-prev,
.slick-next {
  position: absolute;
  bottom: -9vw;
  width: 5.3vw;
  height: 5.3vw;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px #000;
  z-index: 1;
  transition: all .3s;
  @include mq(sm2) {
    width: 50px;
    height: 50px;
    bottom: -95px;
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #FFFF5C;
  }

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 1.56vw;
      height: 2vw;
      background: url(../images/common/icon-arrowbig-white-left.svg) no-repeat;
      background-size: 100%;
      content: "";
      @include mq(sm2) {
        width: 15px;
        height: 20px;
      }
    }
  }
}

.slick-prev {
  left: 30vw;

  @include mq(sm2) {
    left: 30px;
  }

  span {
    &:before {
      // left: 17px;
    }
  }
}

.slick-next {
  right: 30vw;

  @include mq(sm2) {
    right: 30px;
  }

  span {
    &:before {
      left: 52%;
      background-image: url(../images/common/icon-arrowbig-white-right.svg);
      @include mq(sm2) {
        left: 54%;
      }
    }
  }

  @media all and (-ms-high-contrast:none) {

    /* IE10 */
    // span {
    //   &:before {
    //     left: 15px;
    //   }
    // }

    // *::-ms-backdrop,
    // span {
    //   &:before {
    //     left: 15px;
    //   }
    // }

    /* IE11 */
  }
}
