@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	position: relative;
	border-top: 1px solid #000;
	z-index: 10;
	&-cnt {
		display: flex;
		@include mq() {
	    display: block;
	  }
	}
	&-head {
		&--infor {
			width: 70vw;
			border-right: 1px solid #000;
			padding: 5.625vw 5vw;
			@include mq() {
		    width: 100%;
		    border-right: none;
				border-bottom: 1px solid #000;
				padding: 60px 40px;
		  }
		}
		&--contact {
			margin-bottom: 9.375vw;
			@include mq() {
		    margin-bottom: 80px;
		  }
			&-ttl {
				margin-bottom: 1.725vw;
				font-family: $font-a;
				font-size: 2.5vw;
				font-weight: bold;
				line-height: 1.2;
				@include mq() {
			    font-size: 24px;
			    margin-bottom: 40px;
			  }
			}
			.desc {
				margin-bottom: 2.375vw;
				@include mq() {
			    font-size: 14px;
			    margin-bottom: 40px;
			  }
			}
		}
		&--access {

		}
		&--logo {
			width: 11.875vw;
			margin-bottom: 1.875vw;
			@include mq() {
		    width: 50vw;
		    max-width: 190px;
		    margin-bottom: 25px;
		  }
			img {
				width: 100%;
			}		
		}
		&--addressWrap {
			display: flex;
			@include mq() {
		    display: block;
		  }
		}
		&--address {
			margin-right: 2.8vw;
			@include mq() {
		    font-size: 12px;
		    margin-bottom: 20px;
		  }
		}
		&--direct {

		}
		&--nav {
			padding: 5.625vw 6.25vw;
			@include mq() {
		    padding: 55px 40px;
		  }
			li {
				margin-bottom: 1.8vw;
				@include mq() {
			    margin-bottom: 30px;
			  }
				&:last-child {
					margin-bottom: 0;
				}
				a {
					font-size: .875vw;
					line-height: 1.2;
					font-weight: bold;
					@include mq() {
						font-size: 12px;
					}
				}
			}
		}
	}
	&-copy {
		padding: 2vw 5vw 2.5vw;
		font-size: .75vw;
		color: #BCBCBC;
		border-top: 1px solid #000;
		@include mq() {
			padding: 30px 40px;
	    font-size: 10px;
	  }
	}
}