@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5vw;
  padding-right: 260px;
  font-size: fs(14);
  line-height: fs(20);
  font-weight: bold;
  // background-color: #fff;
  z-index: 9999;
  transition: all .4s;
  &.top {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    &.open {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
  &.bg-white {
    height: 70px;
    background: rgba(255,255,2555,.95);
    .header-menu--contact {
      top: 15px;
    }
  }
  @include mq() {
    height: 70px;
    padding-left: 0;
    padding-right: 0;
    &.open {
      background-color: #fff;
    }
  }
  &-logo {
    width: 11.875%;
    max-width: 190px;
    // margin-right: 5.3vw;
    @include mq() {
      width: 43.2%;
      max-width: 162px;
      margin-right: 0;
      margin-left: 20px;
    }
    img {
      width: 100%;
    }
  }

  &-menu {
    @include mq() {
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100vw - 60px);
      height: 100vh;
      background-color: #fff;
      // border-top: solid 1px #E3E3E3;
      padding: 80px 0 200px;
      transition: all .3s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      overflow-y: auto;
      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        z-index: 9999;
      }
    }
    &--overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      display: block;
      background-color: #667691;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transition: all .3s;
      content: "";
      z-index: 9998;
      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
    ul {
      display: flex;
      align-items: center;
      @include mq() {
        flex-wrap: wrap;
        margin-bottom: 40px;
      }

      li {
        margin-right: 2vw;
        &:last-child {
          margin-right: 0;
        }
        @include mq() {
          display: block;
          width: 100%;
          margin-right: 0;
          // margin-bottom: 30px;
          // border-bottom: solid 1px #F1F4F6;
          a {
            display: block;
            padding: 25px; 
            text-align: left;
            font-size: fs(16);
            text-align: center;
            &.privacy {
              font-weight: normal;
            }
          }
        }
        &.active {
          position: relative;
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            display: block;
            width: 30px;
            height: 30px;
            background-color: #FFFF5C;
            border-radius: 50%;
            content: "";
          }
          a {
            position: relative;
            z-index: 2;
          }
        }
      }
    }

    &--contact {
      position: fixed;
      top: 30px;
      right: 50px;
      display: block;
      // width: 9.25%;
      width: 148px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 40px;
      background-color: #FF9090;
      transition: all .3s;
      &:hover {
        background-color: #FFFF5C;
      }
      @include mq() {
        position: initial;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        height: 80px;
        line-height: 80px;
        padding-right: 0;
        font-size: fs(16);
        border-right: none;
        border-left: none;
        border-radius: 0;
      }
    }
    &--copy {
      margin-top: 40px;
      font-weight: normal;
      font-family: $font-b;
      font-size: fs(12);
      line-height: fs(20);
      color: #767676;
      @include mq(tb) {
        text-align: center;
      }
    }
  }

  &-ctrl {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 27px;
    transition: all .3s;
    z-index: 9999;
    display: none;
    @include mq() {
      display: block;
      top: 25px;
      right: 25px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 30px;
      background: #000;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
        width: 20px;
        left: 5px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(35deg);
        }

        &:nth-child(2) {
          // opacity: 0;
          top: 6px;
          transform: rotate(-35deg);
        }

        &:nth-child(3) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }
      }
    }
  }
  &-access {
    padding: 40px 13vw;
    text-align: center;
    &--logo {
      width: 40vw;
      max-width: 150px;
      margin: 0 auto 30px;
    }
    &--address {
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 2;
      text-align: left;
    }
    &--direct {
      font-size: 12px;
    }
  }
  
}

.video-container {
  height: 780px;
  max-height: 55.7vw;
  margin-top: -80px;
  overflow: hidden;
  position: relative;
  width:100%;
  pointer-events: none;
  @include mq() {
    max-height: 80vw;
  }
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}


.top-nav {
  margin-right: 2.5vw;
  &Wrap {
    display: flex;
    @include mq() {
      display: block;
    }
  }
}

.bogo-language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq() {
    margin-top: 20px;
    flex-wrap: nowrap !important;
    justify-content: center !important;
  }
  &Wrap {
    display: flex;
    align-items: center;
    @include mq() {
      display: block;
    }
  }
  &-label {
    font-size: 8px;
    margin-right: 12px;
    @include mq() {
      margin-right: 0;
      font-size: 14px;
      text-align: center;
      font-weight: normal;
    }
  }
  li {
    text-align: center;
    margin-right: 8px !important;
    @include mq() {
      width: auto !important;
      display: inline-block !important;
      margin: 0 10px !important;
    }
    &:hover,
    &.on {
      a {
        &:after {
          width: 100%;
        }
      }
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: fs(12);
      @include mq() {
        width: auto;
        display: inline-block !important;
        padding: 0 !important;
        font-size: fs(13) !important;
      }
      &:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        display: block;
        width: 0;
        height: 2px;
        background-color: #000;
        content: "";
        transition: all .3s;
        @include mq() {
          bottom: -5px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
