.p-company {
	&--intro {
		margin: 75px 0 55px;
		padding-left: 140px;
		border-left: solid 1px #000;
		@include mq() {
	    padding-left: 50px;
	  }
	  @include mq(sm2) {
	    padding-left: 30px;
	  }
	}
	&--sign {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&-label {
			margin-right: 18px;
			font-size: fs(14);
		}
		&-img {
			width: 135px;
			img {
				width: 100%;
			}
		}
	}
	&--infor {
		display: flex;
		@include mq(sm2) {
	    display: block;
	  }

		&-cnt {
			width: 100%;
		}
	}

	&--table {
		tr {
			th {
				&:nth-child(1) {
					width: 7rem;
				}
				&:nth-child(2) {
					width: 1.5rem;
				}
				&:nth-child(3) {
					width: 6rem;
				}
				&:nth-child(4) {
					width: 4rem;
				}
				&:nth-child(5) {
					width: 8rem;
				}
				&:nth-child(6) {
					width: 4rem;
				}
			}
		}

	}

}

.anchor--list {
	width: 260px;
	margin-right: 100px;
  flex-shrink: 0;
	@include mq(sm2) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }
	li {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}


.p-company--infor-cnt tr th {
    flex: 0 0 30%;
    background: #FAE9CC;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 1.2em;    
}
.p-company--infor-cnt .table table tbody tr td:before {
    display: none;
}