@charset "UTF-8";
/* -------------------
  END PAGE COMMON
--------------------*/
.p-end {
	&--cnt {
		.container {
			padding-bottom: 160px;
			border-bottom: solid 1px #000;
			&.type2 {
				padding-bottom: 0;
				border: none;
			}
		}
	}
	&--ttl {
		img {
			height: 118px;
			@include mq(sm2) {
				height: 80px;
			}
		}
		span {
			display: block;
			margin-top: 20px;
			font-size: 18px;
			font-weight: bold;
		}
	}
	&--banner {
		position: relative;
		padding-bottom: 110px;
		&.type2 {
			border-bottom: solid 1px #000;
		}
		&:before {
			position: absolute;
			right: 65px;
			bottom: -10px;
			display: block;
			width: 180px;
			height: 61px;
			background: url(../images/end/cloud01.png) center center / 100% no-repeat;
			content: "";
			z-index: 1;
		}
		&:after {
			position: absolute;
			right: -70px;
			bottom: 80px;
			display: block;
			width: 165px;
			height: 65px;
			background: url(../images/end/cloud02.png) center center / 100% no-repeat;
			content: "";
			z-index: 1;
		}
	}
}