.p-news {
	display: flex;
	padding-top: 90px;
	@include mq() {
		display: block;
	}
	&--cnt {
		width: 100%;
	}
	&--sidebar {
		width: 180px;
		margin-left: 96px;
		flex-shrink: 0;
		@include mq() {
	    width: 100%;
	    margin-left: 0;
	    margin-top: 50px;
	    .select {
	    	width: auto;
	    }
		}
		&-list {
			margin-bottom: 30px;
			li {
				margin-bottom: 15px;
				font-size: fs(15);
				line-height: fs(26);
				&:last-child {
					margin-bottom: 0;
				}
				&.active {
					font-weight: bold;
				}
				a {
					position: relative;
					display: block;
					padding-left: 15px;
					&:before {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						display: block;
						width: 5px;
						height: 5px;
						border: solid 1px #000;
						background-color: #FF9090;
						content: "";
					}
				}
			}
		}
	}
	.p-top {
		&--news {
			&-list {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -6px;
				@include mq(sm2) {
					display: block;
					margin: 0;
				}
			}
			&-item {
				width: 33.33%;
				padding: 0 6px;
				margin: 0 0 20px 0;
				background: none;
				@include mq(sm2) {
					width: 100%;
					max-width: 100%;
					padding: 0;
				}
				a {
					padding: 52px 20px 40px;
				    background: url(../images/common/bg-news.svg) top center no-repeat;
			    background-size: contain;
			    @include mq() {
				    background-size: cover;
					}
				}
				&-thumbWrap {
					.label {
				    padding: 3px 15px;
				    font-size: fs(14);
				    z-index: 2;
					}
				}
				&-thumb {
					position: relative;
					height: 174px;
					overflow: hidden;
					@include mq(sm2) {
						height: 200px;
					}
					&.video {
						&:before {
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							width: 55px;
							height: 55px;
							background: rgba(255,255,255,.82);
							border: solid 1px #000;
							border-radius: 50%;
							z-index: 1;
							content: "";
						}
						&:after {
							position: absolute;
							left: calc(50% - 5px);
							top: 50%;
							transform: translate(0, -50%);
							-webkit-transform: translate(0, -50%);
							width: 0; 
						  height: 0; 
				      border-top: 8px solid transparent;
					    border-bottom: 8px solid transparent;
					    border-left: 12px solid #000;
							z-index: 1;
							content: "";
						}
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
				&-cnt {
					padding: 0 10px;
					.date {
						font-size: fs(14);
						letter-spacing: 1.4px;
						line-height: fs(22);
					}
				}
				&-ttl {
					margin-top: 6px;
					font-size: fs(14);
					line-height: fs(22);
				}
			}
		}
	}

	&--detail {
		padding: 80px;
		background-color: #fff;
		border: solid 1px #000;
		@include mq() {
			padding: 60px 40px;
		}
		@include mq(sm2) {
			padding: 40px 20px;
		}
	}
}

.iframe {
	iframe {
		width: 100%;
		@include mq() {
			height: 400px;
		}
		@include mq(sm2) {
			height: 250px;
		}
	}
	&-ttl {
		margin-top: 5px !important;
	}
}