@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.mv {
	position: relative;
	height: vw(956);
	margin-bottom: vw(80);
	@include mq(sm2) {
		// padding-top: 230px;
		height: 154.9vw;
		margin-bottom: 10vw;
	}
	&-ttl {
		width: 100%;
		img {
			width: 100%;
		}
		&--wrap {
			position: absolute;
			top: vw(220);
			left: vw(115);
			width: vw(680);
			z-index: 2;
			// overflow: hidden;

			img {
				width: 100%;
			}
			@include mq() {
				width: 83.46vw;
				max-width: 313px;
				top: 120px;
			}
			@include mq(sm2) {
		    width: 83.46vw;
		    top: 18vw;
		    left: auto;
		    right: 0;
			}
		}
		&--inner {
			position: relative;
			width: 100%;
		}
	}
	&-cloud {
		display: none;
		position: absolute;
		right: -7vw;
		top: .5vw;
		width: 11.25vw;
		@include mq() {
			width: 28.53vw;
			max-width: 107px;
			top: -18px;
			right: -2vw;
		}
		@include mq(sm2) {
			display: block;
		}
	}

	&-bgWrap {
		position: absolute;
		right: 0;
		top: vw(10);
		width: vw(1040);
		height: inherit;
		background: url(../images/top/bg-mv.svg) no-repeat;
    background-size: auto 100%;
    @include mq(sm2) {
    	width: 97.87vw;
    	height: inherit;
			background-image: url(../images/top/bg-mv-sp.svg);
		}
	}

	&-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 20px;
		right: 0;
		overflow: hidden;	
		img {
			width: vw(1099.5);
		}
		@include mq() {
			// width: 135%;
			// margin-top: 0;
			// margin-right: 0;
		}
	}
	&-magicWrap {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&-magic {
		position: absolute;
		img {
			width: 100%;
		}
	 @include mq(sm2) {
			display: none;
		}
		&.island {
			width: 15%;
			top: -3%;
			left: 4.3%;
		}
		&.cloud3 {
			width: 9.1%;
			top: 0;
			left: 64.94%;
		}
		&.cloud8 {
			width: 7.13%;
	    top: 12%;
	    right: -2%;
		}
		&.cloud10 {
	    width: 5.96%;
	    top: 29%;
	    left: 19.5%;
		}
		&.cloud11 {
	    width: 9.12%;
	    top: 40.5%;
	    left: 5%;
		}
		&.dog {
			width: 8.17%;
	    top: 40.5%;
	    left: 39.5%;
		}
		&.balloon {
			width: 8.18%;
	    top: 46.5%;
	    left: 68.5%;
		}
		&.woman {
			width: 8%;
	    top: 39%;
	    right: 0.5%;
		}
		&.fish {
	    width: 2.98%;
	    top: 64%;
	    left: 2%;
		}
		&.girl {
      width: 5.77%;
	    top: 58.2%;
	    left: 11.5%;
		}
		&.boy {
      width: 3.75%;
	    top: 65%;
	    left: 13.5%;
		}
		&.bird {
			width: 6.67%;
	    bottom: 14%;
	    left: -2.5%;
		}
		&.bear {
			width: 6.35%;
	    bottom: 14.5%;
	    left: 33%;
		}
		&.cloud9 {
			width: 8.9%;
	    bottom: 4%;
	    left: 40%;
		}
		&.bird7 {
			width: 4.23%;
	    bottom: 8.8%;
	    right: 20%;
		}
		&.cloud12 {
	    width: 8%;
	    bottom: 9%;
	    right: 4.1%;
		}
		&.cloud13 {
			width: 5.87%;
	    bottom: 26%;
	    right: 31.6%;
		}
	}

	// scroll
	.scroll {
	  transition: .3s;
	  a {
	    display: inline-block;
	    position: absolute;
	    left: 2.5vw;
	    top: 35vw;
	    z-index: 2;
	    padding: 0 10px 40px 10px;
	    color: #000;
	    font-size: 15px;
	    font-family: $font-a;
	    line-height: 1;
	    text-transform: uppercase;
	    text-decoration: none;
	    writing-mode: vertical-lr;
	    transition: .2s;
	    overflow: hidden;
	    @include mq() {
	      // display: none;
	      left: 20px;
	      top: 395px;
	    }
	    @include mq() {
	      // display: none;
	      left: 20px;
	      top: 325px;
	    }
	    &::before {
	      content: '';
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 1px;
	      height: 110px;
	      background: #000;
	    }
	    &::after {
	      content: '';
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 1px;
	      // height: 100px;
	      background: #FF9090;
	      height: 30px;
	      animation: sdl07 1.5s ease infinite;
	    }
	    &:hover {
	      opacity: .5;
	    }
	  }
	}

	@keyframes sdl07 {
	  0% {
	    transform: translateY(-110px);
	  }
	  50%, 100% {
	    transform: translateY(110px);
	  }
	}
}


.p-top {
	&--intro {
		@include mq() {
			margin-top: 40px;
		}
		.ani-border {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		&-cnt {
			position: relative;
			padding: 0 3.75vw;
			@include mq() {
				padding: 0 15px;
			}
		}
		&-box1 {	
			position: relative;
			z-index: 2;
			width: 51vw;
			max-width: 816px;
			@include mq() {
				width: 100%;
				max-width: 100%;
			}
			&-infor {
				position: relative;
				background-color: #fff;
				padding: 3.5vw 6.5vw;
				width: 100%;
				height: 100%;
				font-size: 2vw;
				line-height: 1.8;
				font-weight: bold;
				@include mq() {
					font-size: 20px;
					padding: 20px 25px;
				}
			}
		}
		&-box2 {
			position: relative;
			z-index: 2;
			width: 49.38vw;
			max-width: 790px;
			margin-top: -1.56vw;
			margin-left: 16.25vw;
			font-weight: bold;
			z-index: 1;
			@include mq() {
				width: 100%;
				max-width: 100%;
				margin-left: auto;
				margin-right: -15px;
				margin-top: -25px;
			}
			&-infor {
				position: relative;
				background-color: #FAE9CC;
				padding: 4.2vw 3.75vw;
				width: 100%;
				height: 100%;
				font-size: 1vw;
				line-height: 2;
				font-weight: bold;
				@include mq() {
					font-size: 14px;
					padding: 50px 35px;
				}
			}
		}
		&-box2Wrap {
			display: flex;
			align-items: center;
			@include mq() {
				display: block;
			}
			&-direct {
				margin-left: 6.8vw;
				@include mq() {
					margin-left: 0;
					margin-top: 60px;
					text-align: center;
				}
			}
		}
	}
	&--technology {
		margin: 12vw 0 17.8vw;
		padding: 14.56vw 3.25vw 0 12.68vw;
		background: url(../images/common/title-technology.svg) top left 3.25vw / 90.87vw no-repeat, url(../images/common/bg-qq.svg) top 4.5vw left 1.5vw / 28.43vw no-repeat;
		@include mq() {
			margin: 100px 0;
			padding: 80px 15px 12.68vw;
			background: url(../images/common/title-technology-sp.png) top 30px left / auto 42px no-repeat, url(../images/common/bg-qq.svg) top left / 250px no-repeat;
		}
		&-ttl {
			width: 100%;
			img {
				width: 100%;
			}
		}
		&-cnt {
			display: flex;
			justify-content: space-between;
			margin-bottom: 5.6vw;
			@include mq(sm2) {
				display: block;
				margin-bottom: 40px;
			}
			&-infor {
				width: 50%;
				@include mq() {
					width: 100%;
					margin-top: 50px;
				}
			}
			&-img {
				position: relative;
				width: 50%;
				@include mq() {
					width: 100%;
				}
				img {
					position: absolute;
					top: -10vw;
					width: 34.6vw;
					@include mq() {
						top: 0;
						position: relative;
						width: 100%;
					}
				}
			}
			.desc {
				margin-top: 2.8vw;
				@include mq() {
			    margin-top: 35px;
			    margin-bottom: 30px;
			    padding: 0 15px;
			  }
			}
		}
		&-direct {
			@include mq() {
				text-align: center;
			}
		}
	}
	&--service {
		margin-bottom: 11.25vw;
		padding: 0 8.25vw 0 6.69vw;
		@include mq() {
			margin-bottom: 120px;
		}
		&-row {
			display: flex;
			margin-bottom: 7vw;
			@include mq() {
				display: block;
				margin-bottom: 100px;
				&:last-child {
					margin-bottom: 0;
				}
				&.has-data {
					margin-bottom: 135px;
				}
			}
			&-label {
				width: 7.38vw;
				@include mq() {
					width: auto;
					margin-bottom: 90px;
					text-align: center;
					img.sp-only {
						width: auto;
						height: 42px;
						display: inline-block !important;
					}
				}
			}
		}
		&-list {
			position: relative;
			display: flex;
			justify-content: space-between;
			padding: 3.5vw 13vw 0 7.8vw;
			width: 100%;
			@include mq(sm2) {
				display: block;
				padding: 0;
			}
			&:before {
				position: absolute;
				bottom: 0;
				transform: translateY(120%);
				-webkit-transform: translateY(120%);
				left: 7.8vw;
				display: block;
				font-size: .875vw;
				font-weight: bold;
				line-height: 2;
				z-index: 999;
				content: attr(data-cmt);
				@include mq() {
					left: 0;
					font-size: 14px;
				}
			}
			.title-box {
		    white-space: nowrap;
		    @include mq(sm2) {
					white-space: normal;
				}
			}
		}
		&-item {
			position: relative;
			width: 48%;
			border: 1px solid #000000;
			padding: 3.12vw 2.5vw;
			@include mq(sm2) {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				&:first-child {
					margin-top: 60px;
				}
				width: 100%;
				padding: 30px 25px;
			}
			&.blue {
				background: #6D9CE8 url(../images/common/pattern-bg01.svg) top left repeat-x;
			}
			&.pink {
				background: #F5B6C4 url(../images/common/pattern-bg02.svg) top left repeat-x;
			}
			&.yellow {
				background: #FAE9CC url(../images/common/pattern-bg03.svg) top left repeat-x;
			}
			&.blue2 {
				background: #94C9EE url(../images/common/pattern-bg04.svg) top left repeat-x;
			}
			&:hover {
				.p-top--service-item-icon {
					transform: translateX(50%);
					-webkit-transform: translateX(50%);
				}
			}
			a {
				display: block;
			}
			.title-boxWrap {
				position: absolute;
				left: -5vw;
		    top: -3.5vw;
				z-index: 1;
				@include mq(sm2) {
					top: -40px;
					left: -10px;
				}
			}
			&-thumb {
				margin-bottom: 1.88vw;
				height: 15vw;
				overflow: hidden;
				border: solid 1px #000;
				@include mq() {
					height: 166px;
				}
			}
			&-infor {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&-inner {

			}
			&-des {
				font-size: .875vw;
				line-height: 2;
				@include mq() {
					font-size: 14px;
				}
			}
			&-ttl {
				font-family: $font-a;
				font-size: 2.5vw;
				// font-weight: bold;
				line-height: 1.2;
				@include mq() {
					font-size: 28px;
				}
				.jp {
					font-size: 2.125vw;
					font-weight: bold;
					@include mq() {
						font-size: 23px;
					}
				}
			}
			&-icon {
				width: 1.56vw;
		    flex-shrink: 0;
				transition: all .3s;
				@include mq() {
					width: 17px;
				}
			}
		}
		&-direct {
			text-align: right;
			margin-top: -50px;
			@include mq() {
				text-align: center;
			}
		}
		&-cmt {

		}
	}
	&--news{
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			left: 6.25vw;
			display: block;
			width: 87.5vw;
			height: 100%;
			background-color: #6D9CE8;
			border: solid 1px #000;
			content: "";
			z-index: 0;
			@include mq(sm2) {
			  width: 92.8vw;
			  left: 17px;
		  }
		}
		&:after {
			position: absolute;
			top: 1.25vw;
			left: 5vw;
			display: block;
			width: 87.5vw;
			height: 100%;
			background-color: #94C9EE;
			border: solid 1px #000;
			content: "";
			z-index: 0;
			@include mq(sm2) {
			   width: 92.8vw;
			   left: 10px;
			   top: 8px;
		  }
		}
		&-inner {
			padding: 4vw 1.625vw 5.6vw;
			position: relative;
			z-index: 2;
			@include mq(sm2) {
				padding: 40px 0 60px;
			}
			.title-quad {
				margin: 0 8.125vw 2.8vw;
				@include mq(sm2) {
					margin: 0 38px 40px;
				}
			}
			.viewmoreWap {
				margin-top: 4.6vw;
				text-align: center;
				@include mq(sm2) {
					margin-top: 54px;
				}
			}
		}
		&-ttl {

		}
		&-list {

		}
		&-item {
			position: relative;
			width: 18.75vw;
			margin: 0 .375vw;
			padding: 3.125vw 1.25vw;
			background: url(../images/common/bg-news.svg) top center no-repeat;
			background-size: contain;	
			// background-size: 100% 100%;	
			@include mq() {
				padding: 50px 20px 40px;
				background-size: auto;
				margin: 0 6px;
			}
			@include mq() {
				width: 300px;
				max-width: 80vw;
			}
			&-thumbWrap {
				position: relative;
			}
			&-thumb {
				height: 10.875vw;
				overflow: hidden;
				margin-bottom: 1.2vw;
				border: solid 1px #000;
				@include mq() {
					height: 174px;
				}
				@include mq(sm2) {
					height: 150px;
					margin-bottom: 20px;
				}
			}
			&-ttl {
				font-size: .875vw;
				line-height: 1.6;
				text-decoration: underline;
				@include mq(sm2) {
				  font-size: 14px;
				  margin-top: 6px;
				}
			}
			.label {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
		}
	}
}
