.ani-border {
  position: relative;
  width: 100%;
  height: 100%;
  &.type2 {
    position: absolute;
  }
  span {
    position: absolute;
    &:nth-child(1) {
      top: 0;
      background-color: #7f7f7f;
      transition: all .9s linear;
      left: 0;
      width: 0;
      height: 2px;
      transform-origin: left center;
    }
    &:nth-child(4) {
      top: 0;
      background-color: #7f7f7f;
      transition: all .9s linear;
      right: 0;
      width: 2px;
      height: 100%;
      transform: scaleY(0);
      transform-origin: center top;
      transition-delay: .9s;
    }
    &:nth-child(3) {
      left: 0;
      background-color: #7f7f7f;
      transition: all .9s linear;
      bottom: 0;
      width: 0;
      height: 2px;
      transform-origin: left center;
      transition-delay: .9s;
    }
    &:nth-child(2) {
      left: 0;
      background-color: #7f7f7f;
      transition: all .9s linear;
      top: 0;
      width: 2px;
      height: 100%;
      transform-origin: center top;
      transform: scaleY(0);
    }
  }
  &.in {
    span {
      &:nth-child(3) {
        width: 100%;
      }
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(4) {
        transform: scaleY(1);
      }
      &:nth-child(2) {
        transform: scaleY(1);
      }
    }
  }
}


.ani-border2 {
  position: relative;
  width: 100%;
  height: 100%;
  &.type2 {
    position: absolute;
  }
  span {
    position: absolute;
    &:nth-child(1) {
      top: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      left: 0;
      width: 0;
      height: 10px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      right: 0;
      width: 10px;
      height: 100%;
      transform: scaleY(0);
      transform-origin: center top;
      transition-delay: .9s;
    }
    &:nth-child(3) {
      right: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      bottom: 0;
      width: 0;
      height: 10px;
      transform-origin: left center;
      transition-delay: 1.8s;
    }
  }
  &.in {
    span {
      &:nth-child(3) {
        width: 70%;
      }
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        transform: scaleY(1);
      }
    }
  }
}


.ani-border3 {
  position: relative;
  width: 100%;
  height: 100%;
  &.type2 {
    position: absolute;
  }
  span {
    position: absolute;
    &:nth-child(1) {
      top: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      left: 0;
      width: 10px;
      height: 100%;
      transform: scaleY(0);
      transform-origin: center top;
      transition-delay: 1.8s;
    }
  }
  &.in {
    span {
      &:nth-child(1) {
       transform: scaleY(1);
      }
    }
  }
}


.ani-border4 {
  position: relative;
  width: 100%;
  height: 100%;
  &.type2 {
    position: absolute;
  }
  span {
    position: absolute;
    &:nth-child(1) {
      top: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      right: 655px;
      width: 0;
      height: 10px;
      transform-origin: left center;
      transition-delay: .9s;
    }
    &:nth-child(2) {
      top: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      left: 0;
      width: 10px;
      height: 100%;
      transform: scaleY(0);
      transform-origin: center top;
      transition-delay: 1.8s;
    }
    &:nth-child(3) {
      left: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      bottom: 0;
      width: 0;
      height: 10px;
      transform-origin: left center;
      transition-delay: 3.6s;
    }
  }
  &.in {
    span {
      &:nth-child(3) {
        width: 100%;
      }
      &:nth-child(1) {
        width: 535px;
      }
      &:nth-child(2) {
        transform: scaleY(1);
      }
    }
  }
}

.ani-border5 {
  position: relative;
  width: 100%;
  height: 100%;
  &.type2 {
    position: absolute;
  }
  span {
    position: absolute;
    &:nth-child(1) {
      top: 0;
      background-color: #A7E7FC;
      transition: all .9s linear;
      right: 0;
      width: 10px;
      height: 100%;
      transform: scaleY(0);
      transform-origin: center top;
      transition-delay: 2.7s;
    }
  }
  &.in {
    span {
      &:nth-child(1) {
        transform: scaleY(1);
      }
    }
  }
}
