// transition delay
.delay-1 {
  transition-delay: .1s;
}

.delay-2 {
  transition-delay: .2s;
}

.delay-3 {
  transition-delay: .3s;
}

.delay-4 {
  transition-delay: .4s;
}

.delay-5 {
  transition-delay: .5s;
}

.delay-6 {
  transition-delay: .6s;
}

.delay-7 {
  transition-delay: .7s;
}

.delay-8 {
  transition-delay: .8s;
}

.delay-9 {
  transition-delay: .9s;
}

.delay-10 {
  transition-delay: 1s;
}

.delay-11 {
  transition-delay: 1.1s;
}

.delay-12 {
  transition-delay: 1.2s;
}

.delay-20 {
  transition-delay: 2s;
}


// animation delay
.ani-delay-1 {
  animation-delay: .1s;
}

.ani-delay-2 {
  animation-delay: .2s;
}

.ani-delay-3 {
  animation-delay: .3s;
}

.ani-delay-4 {
  animation-delay: .4s;
}

.ani-delay-5 {
  animation-delay: .5s;
}

.ani-delay-6 {
  animation-delay: .6s;
}

.ani-delay-7 {
  animation-delay: .7s;
}

.ani-delay-8 {
  animation-delay: .8s;
}

.ani-delay-9 {
  animation-delay: .9s;
}

.ani-delay-10 {
  animation-delay: 1s;
}

.ani-delay-11 {
  animation-delay: 1.1s;
}

.ani-delay-12 {
  animation-delay: 1.2s;
}
