@charset "UTF-8";

/* Fade up on scroll */
.faderight {
  opacity: 0;
  transform: translate(-80px, 0);
  -webkit-transform: translate(-80px, 0);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    opacity: 1;
    transform: translate(0, 0);
  }
}



/* Fade up on load */
@-webkit-keyframes faderight2 {
  0% {
    opacity: 0;
    transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes faderight2 {
  0% {
    opacity: 0;
    transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.faderight2 {
  opacity: 1;
  transform: translate(0, 0);
  animation: faderight2 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}